.carousel-outer-wrapper {
    height: 650px;
    /* width: 450px; */
    /* margin-left: 30%; */
}


.carousel-inner-wrapper {
    height: 100%;
}

.carousel-item-wrapper {
    width: 100%;
    height: auto;
    max-height: 650px;
    object-fit: contain;
    cursor: pointer;
}


.transition-container {
  transition: transform 0.6s ease;
  display: flex;
  gap: 1rem;
}

.card-wrapper {
  flex: 0 0 32%;
}