.router-body {
  min-height: 60vh;
  padding: 108px 16px;
}

@media (max-width: 991.98px) {
  .router-body {
    padding: 80px 8px 16px 8px;
    margin-top: 2%;
  }
}

@media (max-width: 767.98px) {
  .router-body {
    padding: 64px 2px 8px 2px;
    margin-top: 10%;
  }
}