/* .router-body {
  /* min-height: 60vh;
  padding: 108px 16px; */
  /* margin-top: 20%;
} */







/*

@media (max-width: 576px) {
  .router-body {
    margin-top: 20%;
  }
}

@media (min-width: 768px) {
  .router-body {
    margin-top: 10%;
  }
}

@media (min-width: 992px) {
  .router-body {
    margin-top: 10%;
  }
}

@media (min-width: 1080px) {
  .router-body {
    margin-top: 10%;
  }
}

@media (min-width: 1200px) {
  .router-body {
    margin-top: 5%;
  }
}

@media (min-width: 1400px) {
.router-body {
    margin-top: 6%;
  }
} */